.clientImage {
  margin-left: 60px;
  max-width: 200px;

}

.boxForm {
  margin-left: 100px;
  margin-top: 31px;
}

.chooseImage {
  padding-left: 80px;
  font-size: 15px;
}

.buttonSize {
  width: 435px;
  margin-left: 0px;
  margin-top: 38px;
}
