.box {
  background: rgb(210,207,207);
background: linear-gradient(256deg, rgba(210,207,207,0) 0%, rgba(254,248,248,0.6629245448179272) 58%, rgba(223,223,223,0.7805716036414566) 95%);
  width: 600px;
}
